#page-wrapper {
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", sans-serif;
    border: none;
    width: 100%;
}

header {
    position: sticky;
    z-index: 1;
    top: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

table-container {
    display: flex;
    flex-direction: column;
}

table {
    margin: 30px 0px;
    align-self: center;
    width: 80%;
    background-color: #cccccc41;
    box-shadow: 0 0 20px #00000098;
    border-collapse: collapse;
    overflow: hidden;
    color: #cccccc;
}

tr {
    cursor: pointer;
}

td,
th {
    text-align: start;
    padding: 15px;
    border-top: 1px solid rgba(15, 41, 47, 0.445);
    border-bottom: 1px solid rgba(15, 41, 47, 0.445);
}

th {
    background-color: #14a099b7;
    font-weight: 600;
    font-size: 110%;
}

tbody tr:not(.expanded-row):hover {
    background-color: #cccccc2a;
}

tr.expanded-row td {
    flex-flow: wrap;
    background-color: rgba(15, 41, 47, 0.596);
}

expand-row {
    padding: 5px 0px;
    display: grid;
    grid-template-columns: 20% 80%;
}
expand-row p.title {
    margin: 0px 5px 0px 0px;
    font-weight: 600;
    padding: 0px;
    grid-column: span 1;
}
expand-row p.text {
    margin: 0px 0px 0px 5px;
    padding: 0px;
}
pagination-container{
    padding:0 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

select{
    margin-right: auto;
    padding: 5px;
    color: #cccccc;
    background-color: #0f292f;
    border: 0.1em solid #cccccc;
    border-radius: 0em;
}
next, previous {
    z-index: 1;
    cursor: pointer;
    border-radius: 0.1em;
    padding: 0.3em 1em;
    border: 0.05em solid #cccccc;
    margin: 0 0.3em 0.3em 0;
    color: #cccccc;
    text-align: center;
    transition: all 0.25s;
}
next:hover, previous:hover {
    color: #0f292f;
    background-color: #cccccc;
}

@media screen and (max-width: 615px) {
    header {
        position: sticky;
        z-index: 1;
        top: 0px;
    }
    table {
        margin: 10px 0px;
        align-self: center;
        width: 95%;
        background-color: #cccccc41;
        box-shadow: 0 0 15px #00000098;
        border-collapse: collapse;
        overflow: hidden;
        color: #cccccc;
    }
    td,
    th {
        padding: 5px;
        flex-wrap: wrap;
    }
    th {
        font-size: 90%;
    }
    td {
        font-size: 70%;
    }
    next, previous, select{
        font-size: 70%;
    }
}
