/* COLOR CODES: 
#501F3A
#CB2D6F
#CCCCCC
#14A098
#0F292F
*/

body {
    background-color: #0f292f;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    
}

header {

    margin: 30px 0px 30px 0px;
    padding-right: 100px;
    display: flex;
    max-height: 70%;
    background: linear-gradient(90deg, rgba(20,160,152,0.5018382352941176) 0%, rgba(20,160,152,0.29735644257703087) 20%, 
    rgba(20,160,152,0.11528361344537819) 51%, rgba(20,160,152,0) 85%);
    background-blend-mode: overlay;
    
}

#logo {
    height: 50px;
    width: 50px;
    margin: 10px 10px 10px 15px;
    align-self: center;
}

nav.header-nav {
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    text-transform: uppercase;
    align-content: center;
}

nav.header-nav ul {
    align-content: center;    
    list-style: none;
    padding: 0px;
}

nav.header-nav ul li {
    display: inline-block;
    margin: 5px 0px;
}
nav.header-nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    color: #CCCCCC;
    text-transform: uppercase;
    margin: 0px 10px;
}

nav.header-nav ul li a,
nav.header-nav ul li a:after,
nav.header-nav ul li a:before {
    transition: all .5s;
}
nav.header-nav ul li a:hover {
    color: #CB2D6F;
}

.item2:hover ~ hr {
    margin-left: 16%;
}
  
.item3:hover ~ hr {
    margin-left: 39%;
}
  
.item4:hover ~ hr {
    margin-left: 61%;
}
.item5:hover ~ hr {
    margin-left: 81%;
}
  
hr {

    height: .15rem;
    width: 16%;
    margin: 0;
    background: #CB2D6F;
    border: none;
    transition: .3s ease-in-out;
}