/* COLOR CODES: 
#501F3A
#CB2D6F
#CCCCCC
#14A098
#0F292F
*/

body {
    background-color: #0f292f;
    margin: 0px;
    display: flex;
    flex-flow: row;   
}

#page-wrapper{
    position: relative;
}

#map{
    display: block;       
    background: #000;
    border: none;        
    height: 100vh;     
    width: 100vw;
}

header {

    position: absolute;
    top:0;

    margin: 30px 0px 30px 0px;
    padding-right: 100px;
    align-items: center;
    display: flex;
    max-height: 70%;
    background: linear-gradient(90deg, rgba(20,160,152,0.5018382352941176) 0%, rgba(20,160,152,0.29735644257703087) 20%, 
    rgba(20,160,152,0.11528361344537819) 51%, rgba(20,160,152,0) 85%);
    background-blend-mode: overlay;
    
}

#logo {
    padding-top: 2px;
    align-self: center;
    max-height: 55px;
    margin: 0px 5px 0px 10px;
}

nav.header-nav {
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
    text-transform: uppercase;
    align-content: center;
}

nav.header-nav ul {
    align-content: center;    
    list-style: none;
    display: table;
    padding: 0px;
}

nav.header-nav li { 
    display: table-cell; 
    position: relative; 
    padding: 0px 10px;
}

nav.header-nav li a {
    color: #cccccc;
    padding: 5px 0px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 90%;
    display: inline-block;
    position: relative;
}
nav.header-nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #CB2D6F;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav.header-nav ul li a:hover{
    color: #CB2D6F;
}

nav.header-nav a:hover:after { 
    width: 100%; 
    left: 0; 
    
}

nav.header-nav ul li a,
nav.header-nav ul li a:before {
    transition: all .5s;
}
