#page-wrapper {
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
}
chart-wrapper {
    display: flex;
    flex-direction: column;
}

chart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
}


chart {
    width: 60%;
    height: 90%;
}

/* Border info inspo -- https://codepen.io/joeashworth/pen/PXvRzb */

chart-info-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    background: #cccccc15;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease;
}

chart-info-container:hover {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

chart-info-container p {
    color: #cccccc;
}

header {
    position: sticky;
    z-index: 1;
    top: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

/*Switch*/

switch {
    z-index: 1;
    cursor: pointer;
    border-radius: 0.1em;
    padding: 0.3em 1em;
    border: 0.1em solid #cccccc;
    margin: 0 0.3em 0.3em 0;
    color: #cccccc;
    text-align: center;
    transition: all 0.25s;
}
switch:hover {
    color: #0f292f;
    background-color: #cccccc;
}
